@use '../../stylings' as s;
.singleElem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
  background: s.$bg-color-variant;
  &:hover {
    border-color: s.$text-color-primary-variant;
    background: transparent;
  }

  &__title {
    margin: 1vh;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__image {
    border-radius: 1.3rem;
    overflow: hidden;
  }
  &__desc {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  &__link {
    text-decoration: none;
  }
}
