$bgrdColorGrayTheme: #e5e7eb;
.home {
  &__content {
    min-height: 30rem;
    padding: 10px;
    margin: 1rem 3rem;
    border-radius: 12px;
    &__title {
      text-transform: uppercase;
    }
  }
}
