$bgrdColorGrayTheme: #d6d8dd;
$buttonPrimaryColor: rgb(10, 161, 141);
$buttonSecondaryColor: rgb(247, 33, 219);
.SpecificPost {
  &__content {
    background-color: $bgrdColorGrayTheme;
    min-height: 30rem;
    padding: 10px;
    margin: 0px 3rem;
    border-radius: 12px;
    &__title {
      background-color: $bgrdColorGrayTheme;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    &__image {
      background-color: antiquewhite;
      padding: 10px;
    }
    &__desc {
      background-color: rgb(67, 1, 73);
      color: rgb(202, 202, 202);
    }
    &__button {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: $buttonPrimaryColor;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 1rem;
      text-decoration: none;
      &:hover {
        background-color: $buttonSecondaryColor;
      }
    }
  }
}
